

.title{
    position: relative;
    color: #ffffff;
    font-weight: 500;
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 40px;
    text-transform: uppercase;
}

.title::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -30px;
    height: 7px;
    width: 90%;
    background: linear-gradient(
        90deg,
     #09092f,
       rgb(28, 28, 86),
        transparent
    );
    z-index: 1000;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.selectContainer {
  margin: 50px 50px;
}

.label {
  font-weight: bold;
  margin-right: 10px;
}

.select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.movieList {
  margin-top: 20px;
  color: white;
}

.movieCard {
  border: 1px solid #dddddda8;
  border-radius: 10px;
  padding: 15px;
  margin: 15px 0;
  background-color: #09092f;
  text-align: left;
}

.movieCard img {
  width: 180px;
  border-radius: 5px;
}

.movieTitle {
  font-size: 50px;
  font-weight: bold;
  margin: 10px 0;
  color: white;
}

.showtimes {
  margin-top: 20px;
  font-size: 20px;
  color: white;
  margin-left: 20px;
}

.showtimes button {
  margin: 10px;
  margin-left: 20px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #184a7eb3;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.showtimes button:hover {
  background-color: #3774b4;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px; /* Space between dropdowns */
  margin-bottom: 20px;
}

.selectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
 
}

.labelcity{
  color: white;
}
.selectContainer select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.movieDetailsContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}


.movieInfo {
  flex: 1;
}

.movieDescription {
  margin-top: 10px;
  color: #ffffff;
}
