.bannercontent{
    position: relative;
    max-width: 550px;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: 1s;
    z-index: 1000;
    }
    
    .bannercontentActive{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    
    }
    .movieTitle{
        display: flex;
        position: relative;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 20px;
        max-width: 500px;
       height: 150px;
        
      
    }
    
    
    .bannercontent h4{
        color: rgba(255, 255, 255,0.6);
        font-weight: 400;
        font-size: 20px;
    }
    .bannercontent h4 span{
       padding: 0 10px;
       border-right: 1px solid rgba(255, 255, 255,0.6);
    }
    
    
    
    .bannercontent h4 span:first-child{
        padding-left: 0;
    }
    .bannercontent h4 span:last-child{
        border-right: 0;
    }
    
    .bannercontent h4 span i{
    background-color: rgb(185, 4, 4);
    color:white;
    padding: 0 8px;
    display: inline-block;
    border-radius: 2px;
    
    }
    
    .bannercontent p{
        font-size: 1em;
        font-weight: 400;
        line-height: 1.5em;
        color: white;
        margin: 20px 0 30px;
    
    }