
.trailer{
    position: relative;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
   z-index: 1000;
   }
   
   .trailerActive{
       visibility: visible;
       opacity: 1;
       transform: scale(1);
   }
   
   .trailer p{
   color: red;
   font-size: 1.5rem;
   margin-left: 20px;
   margin-bottom: 0;
   }
   
   .playBtn{
   position: relative;
   color: white;
   width: 80px;
   height: 80px;
   transition:1s;
   z-index: 1000;
   background: transparent;
   backdrop-filter: blur(20px);
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer !important;
   }
   
   .playBtn ion-icon{
   font-size: 4rem;
   color:red;
   cursor: pointer;
   }
   
   .playBtn::before{
   position: absolute;
   top: -5px;
   left:-5px;
   right: -5px;
   bottom: -5px;
   content: '';
   background: transparent;
   border: 10px solid white;
   border-radius: 50%;
   animation: button 1s linear infinite;
   pointer-events: none; /* Prevent multiple clicks */
   
   }
   
   @keyframes button{
       0%,
       100%{
           opacity: 0.3;
           filter: blur(4px);
       
       }
       50%{
           opacity: 1;
           filter: blur(10px);
       
       }
   }
   
   