.container {
   
    text-align: center;

   height: 100vh;
  }
  
  .screenContainer {
    display: flex;
    justify-content: center;
    margin-top:40px;
  }
  
  .screen {
    width: 50%;
    height: 30px;
    background: linear-gradient(to bottom, #ddd, #888);
    color: black;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  } 
  .seatGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }
  
  .row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .rowNumber {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    color: white;
  }
  
  .seat {
    width: 40px;
    height: 40px;
    margin: 3px;
    border: 1px solid #ccc;
    background-color: white;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
  }
  
  .available {
    background-color: white;
  }
  
  .reserved {
    background-color: blue;
    color: white;
    cursor: not-allowed;
  }
  
  .selected {
    background-color: green;
    color: white;
  }
  
  .bookButton {
    margin-top: 15px;
    padding: 10px 20px;
    background: rgb(37, 0, 187);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .legend {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  
  .legendItem {
    display: flex;
    align-items: center;
    margin: 0 10px;
    color:white;
  }
  
  .legendBox {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #ccc;
    
  }
  
  .available {
    background-color: white;
    
  }
  
  .reserved {
    background-color: blue;
  }
  
  .selected {
    background-color: green;
  }
  
  .header {
    text-align: center;
    padding-top: 80px;
  
    color: white;
  }
  
  .header h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .header p {
    font-size: 1.5rem;
    opacity: 0.8;
  }
  
  .backButton {
    position: absolute;
    top: 10px;
    left: 10px;
    background: transparent;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .backButton:hover {
    color: #00aaff;
  }
  